# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
sns.set(style='ticks', context='talk')
sns.set(rc={"figure.figsize": (8, 8)})

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

from IPython.core.display import HTML
css = open('../../style-table.css').read() + open('../../style-notebook.css').read()
HTML('<style>%s</style>' % css)

### Step 2. Create a data dictionary that looks like the DataFrame below

In [2]:
raw_data = {
    "name": ['Bulbasaur', 'Charmander','Squirtle','Caterpie'],
    "evolution": ['Ivysaur','Charmeleon','Wartortle','Metapod'],
    "type": ['grass', 'fire', 'water', 'bug'],
    "hp": [45, 39, 44, 45],
    "pokedex": ['yes', 'no','yes','no'],
}

### Step 3. Assign it to a variable called

In [3]:
pokemon = pd.DataFrame(raw_data)
pokemon

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [4]:
pokemon.columns = ['name', 'type', 'hp', 'evolution', 'pokedex']
pokemon

         name  type          hp evolution pokedex
0     Ivysaur    45   Bulbasaur       yes   grass
1  Charmeleon    39  Charmander        no    fire
2   Wartortle    44    Squirtle       yes   water
3     Metapod    45    Caterpie        no     bug

### Step 5. Add another column called place, and insert what you have in mind.

In [5]:
pokemon['place'] = 'Earth'
pokemon

         name  type          hp evolution pokedex  place
0     Ivysaur    45   Bulbasaur       yes   grass  Earth
1  Charmeleon    39  Charmander        no    fire  Earth
2   Wartortle    44    Squirtle       yes   water  Earth
3     Metapod    45    Caterpie        no     bug  Earth

### Step 6. Present the type of each column

In [6]:
pokemon.info()
pokemon.dtypes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 6 columns):
name         4 non-null object
type         4 non-null int64
hp           4 non-null object
evolution    4 non-null object
pokedex      4 non-null object
place        4 non-null object
dtypes: int64(1), object(5)
memory usage: 272.0+ bytes

name         object
type          int64
hp           object
evolution    object
pokedex      object
place        object
dtype: object

### BONUS: Create your own question and answer it.