# Regiment

### Introduction:

Special thanks to: http://chrisalbon.com/ for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
%matplotlib inline
import pandas as pd

from IPython.core.display import HTML
css = open('../../style-table.css').read() + open('../../style-notebook.css').read()
HTML('<style>%s</style>' % css)

### Step 2. Create the DataFrame with the following values:

In [2]:
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'], 
        'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'], 
        'name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze', 'Jacon', 'Ryaner', 'Sone', 'Sloan', 'Piger', 'Riani', 'Ali'], 
        'preTestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]}

### Step 3. Assign it to a variable called regiment.
#### Don't forget to name each column

In [3]:
regiment = pd.DataFrame(raw_data, columns=['regiment', 'company', 'name', 'preTestScore', 'postTestScore'])
regiment

      regiment company      name  preTestScore  postTestScore
0   Nighthawks     1st    Miller             4             25
1   Nighthawks     1st  Jacobson            24             94
2   Nighthawks     2nd       Ali            31             57
3   Nighthawks     2nd    Milner             2             62
4     Dragoons     1st     Cooze             3             70
5     Dragoons     1st     Jacon             4             25
6     Dragoons     2nd    Ryaner            24             94
7     Dragoons     2nd      Sone            31             57
8       Scouts     1st     Sloan             2             62
9       Scouts     1st     Piger             3             70
10      Scouts     2nd     Riani             2             62
11      Scouts     2nd       Ali             3             70

### Step 4. What is the mean preTestScore from the regiment Nighthawks?

In [4]:
regiment.groupby('regiment').preTestScore.mean()['Nighthawks']

15.25

### Step 5. Present general statistics by company

In [5]:
regiment.groupby('company').describe()

               postTestScore  preTestScore
company
1st     count       6.000000      6.000000
        mean       57.666667      6.666667
        std        27.485754      8.524475
        min        25.000000      2.000000
        25%        34.250000      3.000000
        50%        66.000000      3.500000
        75%        70.000000      4.000000
        max        94.000000     24.000000
2nd     count       6.000000      6.000000
        mean       67.000000     15.500000
        std        14.057027     14.652645
        min        57.000000      2.000000
        25%        58.250000      2.250000
        50%        62.000000     13.500000
        75%        68.000000     29.250000
        max        94.000000     31.000000

### Step 6. What is the mean each company's preTestScore?

In [6]:
g = regiment.groupby('company').mean()
g[['preTestScore']]

         preTestScore
company
1st          6.666667
2nd         15.500000

### Step 7. Present the mean preTestScores grouped by regiment and company

In [7]:
g = regiment.groupby(['regiment', 'company']).mean()
g[['preTestScore']]

                    preTestScore
regiment   company
Dragoons   1st               3.5
           2nd              27.5
Nighthawks 1st              14.0
           2nd              16.5
Scouts     1st               2.5
           2nd               2.5

### Step 8. Present the mean preTestScores grouped by regiment and company without heirarchical indexing

In [8]:
g = regiment.groupby(['regiment', 'company']).mean()
g[['preTestScore']].unstack()

           preTestScore
company             1st   2nd
regiment
Dragoons            3.5  27.5
Nighthawks         14.0  16.5
Scouts              2.5   2.5

In [9]:
g = regiment.groupby(['regiment', 'company']).mean()
pd.DataFrame(g[['preTestScore']].to_records())

     regiment company  preTestScore
0    Dragoons     1st           3.5
1    Dragoons     2nd          27.5
2  Nighthawks     1st          14.0
3  Nighthawks     2nd          16.5
4      Scouts     1st           2.5
5      Scouts     2nd           2.5

### Step 9. Group the entire dataframe by regiment and company

In [10]:
g = regiment.groupby(['regiment', 'company'])
g.sum()

                    preTestScore  postTestScore
regiment   company
Dragoons   1st                 7             95
           2nd                55            151
Nighthawks 1st                28            119
           2nd                33            119
Scouts     1st                 5            132
           2nd                 5            132

### Step 10. What is the number of observations in each regiment and company

In [11]:
g = regiment.groupby(['regiment', 'company']).size()
g

regiment    company
Dragoons    1st        2
            2nd        2
Nighthawks  1st        2
            2nd        2
Scouts      1st        2
            2nd        2
dtype: int64

### Step 11. Iterate over a group and print the name and the whole data from the regiment

In [12]:
g = regiment.groupby('regiment')
for idx, row in g:
    print(idx)
    print(row)
    print()

Dragoons
   regiment company    name  preTestScore  postTestScore
4  Dragoons     1st   Cooze             3             70
5  Dragoons     1st   Jacon             4             25
6  Dragoons     2nd  Ryaner            24             94
7  Dragoons     2nd    Sone            31             57

Nighthawks
     regiment company      name  preTestScore  postTestScore
0  Nighthawks     1st    Miller             4             25
1  Nighthawks     1st  Jacobson            24             94
2  Nighthawks     2nd       Ali            31             57
3  Nighthawks     2nd    Milner             2             62

Scouts
   regiment company   name  preTestScore  postTestScore
8    Scouts     1st  Sloan             2             62
9    Scouts     1st  Piger             3             70
10   Scouts     2nd  Riani             2             62
11   Scouts     2nd    Ali             3             70